<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.mapper.DeviceRentDetailMapper">
  <insert id="batchSave">
    INSERT INTO t_devicerentdetail
    (devicename, deviceunit, deviceprice, num, totalprice, rentid)
    VALUES
    <foreach collection="list" item="obj" separator=",">
      (#{obj.devicename},#{obj.deviceunit},#{obj.deviceprice},#{obj.num},#{obj.totalprice},#{obj.rentid})
    </foreach>
  </insert>
</mapper>